<header class="header-site" role="banner">

  <div class="header-wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

  </div>
</header>

<header class="header-nav" role="banner">
  <div class="header-wrapper"> 
      <div class="nav-list">
            <ul >
                <li>
                    <a href="/index.html">Home</a>
                </li>
                <li>
                    <a href="/about.html">About</a>
                </li>
                <li>
                    <a href="/blog.html">Blog</a>
                </li>
                <li>
                    <a href="/game-dev.html">Game-dev</a>
                </li>
                <li>
                    <a href="/contact.html">Contact</a>
                </li>
          </ul>
          </div>
  </div>
</header>

