@charset "utf-8";

// Define defaults for each variable.

$base-font-family: Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$title-font-family: "Marck Script" !default; 
$heading-font-family: "Convergence" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$brand-color:      #828282 !default;
$brand-color-light:     lighten($brand-color, 40%) !default;
$brand-color-dark:      darken($brand-color, 25%) !default;

$site-title-color:      #ffffff !default;
$transparent:   rgba(0, 0, 0, 0) !default;

$text-color:       rgb(35,35,35) !default;
$background-color: white !default;
$background-color-blue: rgb(11, 59, 125) !default;
$background-color-grey: rgb(35, 35, 35) !default;
$background-color-purple: rgb(68, 20, 157) !default;
$code-background-color: rgb(190, 190, 190) !default;

$link-base-color:       #333 !default;
$link-visited-color:    darken($link-base-color, 15%) !default;
$link-hover-color:      $text-color !default;


$border-color-01:       $brand-color-dark !default;
$border-color-02:       $brand-color-light !default;
$border-color-03:       $brand-color !default;

$table-text-color:      $text-color !default;
$table-zebra-color:     lighten($background-color, 4%) !default;
$table-header-bg-color: lighten($background-color, 10%) !default;
$table-header-border:   lighten($background-color, 21%) !default;
$table-border-color:    $border-color-01 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;
$gradient-black: linear-gradient(
rgba(35,35,35,255) 0%,
//rgba(35,35,35,252) 8.1%,
//rgba(35,35,35,243) 15.5%,
//rgba(35,35,35,229) 22.5%,
//rgba(35,35,35,210) 29%,
//rgba(35,35,35,189) 35.3%,
//rgba(35,35,35,165) 41.2%,
//rgba(35,35,35,140) 47.1%,
//rgba(35,35,35,115) 52.9%,
//rgba(35,35,35,90) 58.8%,
//rgba(35,35,35,66) 64.7%,
//rgba(35,35,35,45) 71%,
//rgba(35,35,35,26) 77.5%,
//rgba(35,35,35,12) 84.5%,
//rgba(35,35,35,3) 91.9%,
rgba(35,35,35,0) 100%
) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;


$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting",
  "minima/pages"
;
