---
layout: default
---
<section id="showcase">
    <div class="wrapper">
        <h1>
            Because every cool dude
            <br/>
            need his own webpage...
        </h1>
    </div>

</section>

<section id="home">
    <div class="wrapper">
        <div id="home-main">
            {{ content }}
        </div>

        <div id="latest-posts-side">
            <h2 >{{ page.list_title | default: "Latest posts" }}</h2>
            <ul >
                {%- for post in site.posts -%}
                <li>
                    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                    <span class="post-meta">{{ post.date | date: date_format }}</span>
                    <h3>
                        <a class="post-link" href="{{ post.url | relative_url }}">
                            {{ post.title | escape }}
                        </a>
                    </h3>
                    {%- if site.show_excerpts -%}
                    {{ post.excerpt }}
                    {%- endif -%}
                </li>
                {%- endfor -%}
            </ul>

            <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

        </div>
    </div>
</section>
